<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYtGKEGMEkUFoTa0dzCs6BiDwLI4gU8ug</string>
	<key>GCM_SENDER_ID</key>
	<string>485303192452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nwmsu.Collectapull</string>
	<key>PROJECT_ID</key>
	<string>collectapulldatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>collectapulldatabase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485303192452:ios:a37bdccffef95dfa58abd1</string>
</dict>
</plist>